@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f1f2f5;
}
.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
  background-color: #ffffff;
}
.navbar {
  background-color: #ffffff;
}
