@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
/* Add these imports to your main CSS file (e.g., index.css) */
@import "@syncfusion/ej2-base/styles/material.css";
@import "@syncfusion/ej2-popups/styles/material.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f1f2f5;
}
.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
  background-color: #ffffff;
}
.navbar {
  background-color: #ffffff;
}
.input {
  @apply px-4 py-2 border rounded-md focus:outline-none focus-within:ring-2 focus-within:ring-blue-500;
}
.button {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700;
}
